In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_excel('./Результаты 2022.xlsx')
df.head()

,ID участника,id команды,Класс,Страна,Субъект,1 задача,2 задача,3 задача,4 задача,Задачный тур,Постановка задачи,Аналитический блок,Презентация,Проектный тур,Итого
0,101,304,11,Россия,г. Москва,16.25,16.125,9.00,27.25,68.625,9.0,17.0,12.0,100.0,56
1,129,304,11,Россия,г. Санкт-Петербург,20.00,19.000,8.50,18.00,65.500,9.0,17.0,12.0,100.0,56
2,25,304,11,Россия,г. Санкт-Петербург,16.00,18.000,13.75,14.50,62.250,9.0,17.0,12.0,100.0,56
3,205,304,11,Россия,г. Москва,12.75,9.000,8.00,26.75,56.500,9.0,17.0,12.0,100.0,56
4,123,304,11,Россия,г. Санкт-Петербург,13.75,4.125,7.75,12.75,38.375,9.0,17.0,12.0,100.0,56

In [9]:
moscow = df[df['Субъект'] == 'г. Москва']
other = df[df['Субъект'] != 'г. Москва']
moscow['Задачный тур'].mean(), other['Задачный тур'].mean()

(40.79481132075472, 35.29621212121212)

In [19]:
df.groupby('id команды').first()['Постановка задачи'].corr(df.groupby('id команды').first()['Аналитический блок'])

0.9057051206763851

In [21]:
df[df['Класс'] == 9]['Задачный тур'].mean(), df[df['Класс'] == 11]['Задачный тур'].mean()

(27.46951219512195, 41.991883116883116)